# --------------------
# dbt
# --------------------
dbt_packages/
target/
logs/
.dbt/
.dbt/profiles.yml

# --------------------
# Python
# --------------------
dbt-env/
venv/
.env
__pycache__/
*.pyc
*.pyo

# --------------------
# IDEs
# --------------------
.vscode/
.idea/
*.code-workspace

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db
